#project-list {
  text-align: center;

  h3 {
    font-size: 36px;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .project {
      flex-basis: 400px;
      margin: 1rem;

      img {
        padding: 1rem;
      }

      &:hover a {
        text-decoration: underline;
        box-shadow: 0px 1px 3px 1px #ddd;
      }

      a {
        box-shadow: 0px 1px 3px 0px #ddd;
        transition: box-shadow 0.5s;
        display: flex;
        text-decoration: none;
        color: #222;

        .project-details {
          padding: 1rem;
          flex-grow: 1;

          .project-name {
            font-family: Cormorant Garamond;
          }

          .project-stats {
            margin-top: 1rem;
            font-size: 12px;
          }
        }
      }
    }
  }
}
