#search-box {
  width: 100%;
  text-align: center;
  padding: 1rem;

  input[type='text'] {
    border: none;
    line-height: 8rem;
    text-align: center;
    width: 100%;
    padding: 3px 1rem;
    font-size: 4rem;
    font-family: Cormorant Garamond;
    outline: none;
    margin-bottom: 1rem;
  }
}
