#search-results {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .user-result {
    flex-basis: 200px;
    margin: 0.5rem;
    box-shadow: 0px 1px 3px 0px #ddd;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0px 1px 3px 1px #ddd;

      a {
        text-decoration: underline;
      }
    }

    img {
      border-radius: 50px;
      margin-bottom: 1rem;
    }

    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
      height: 250px;
    }

    .display-name {
      font-family: Cormorant Garamond;
      font-size: 18px;
    }

    .user-name {
      font-size: 10px;
    }
  }
}
