#user-profile {
  padding: 3rem 1rem;

  .user-name-section {
    text-align: center;

    #user-image {
      border-radius: 115px;
    }

    #display-name {
      font-size: 48px;
      margin: 1rem;
    }

    span {
      font-size: 12px;
      display: inline-block;
      padding: 0 1rem;
    }
  }

  #user-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    .stat {
      text-align: center;
      flex-basis: 200px;
      height: 200px;

      label {
        font-size: 18px;
        display: block;
      }
      span.count {
        display: block;
        font-size: 36px;
        line-height: 170px;
      }
    }
  }

  hr {
    margin: 2rem;
  }
}
