.user-list-preview {
  margin: 1rem 0;

  &.none {
    margin: 0;
    .user-count {
      line-height: 170px;
    }
  }

  .user-count {
    font-size: 36px;
    margin-bottom: 1rem;
    display: block;
  }

  ul li {
    overflow-wrap: break-word;

    a {
      display: flex;
      align-items: center;
      margin-left: 10%;
      margin-right: 10%;
      text-decoration: none;
      justify-content: space-between;

      img {
        height: 30px;
        width: 30px;
        border-radius: 25px;
        margin-bottom: 3px;
      }

      .user-link {
        font-family: Cormorant Garamond;
        font-size: 10px;
        color: #222222;
        display: block;
        margin-left: 3px;
      }
    }
  }
}
