#work-experience-list {
  width: 250px;
  margin: auto;

  h3 {
    font-size: 24px;
    text-align: center;
    margin: 1rem 0;
  }

  ul {
    text-align: center;

    .work-experience {
      font-size: 12px;
      margin-bottom: 3px;

      .divider {
        margin: 0 3px;
      }
    }
  }
}
