@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato');

* {
  font-family: Lato;
  box-sizing: border-box;
  color: #222222;
}

h1, h2, h3, label {
  font-family: Cormorant Garamond;
}

html, body, #react-app {
  height: 100%
}

body {
  margin: 0;
}

a {
  color: #222222;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
